.custom-line-item-message {
    display: none;
}

.custom-line-item-loading {
    position: fixed;
    left: 50%;
    top: 50%;
    display: block;
}

.custom-line-item-loading .throbber {
    background: transparent url('/misc/throbber.gif') no-repeat;
    width: 15px;
    height: 15px;
    display: inline-block;
}

.custom-line-item-types-variations-form-display {
    display: none;
    /*position: fixed;
    background: #fff;
    width: 350px;
    height: 250px;
    padding: 10px;
    left: 50%;
    top: 50%;*/
}